{% extends "base.html" %}
{#{% load crispy_forms_filters %}#}

{% block content %}
  <h1>
    TODO List
    <a href="{% url 'catalog:task-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
{#  <form class="form-inline" action="" method="get">#}
{#    {{ search_form|crispy }}#}
{#    <input class="btn btn-secondary" type="submit" value="Search">#}
{#  </form>#}

  {% if task_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Content</th>
        <th>Time creation</th>
      </tr>

      {% for task in task_list %}
        <tr>
          <td>
              {{ task.id }}
          </td>
          <td>
              {{ task.content}}
          </td>
          <td>
              {{ task.time_creation}}
          </td>
{#          <td>#}
{#              <a href="{% url 'catalog:task-update' pk=task.id %}">#}
{#                Update#}
{#              </a>#}
{#            </td>#}
{#            <td>#}
{#              <a style="color: red"#}
{#                href="{% url 'catalog:task-delete' pk=task.id %}">#}
{#                Delete#}
{#              </a>#}
{#            </td>#}
{#        </tr>#}
      {% endfor %}
    </table>

  {% else %}
      <p>There are no tasks in the todo list.</p>
  {% endif %}
{% endblock %}
